---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Manuel Ernesto</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        I work creating software that solve problems in a simple way and sharing what I learn along the way. I like
        minimalism, Open-Source and good music. You can find me mostly on Twitter.</text
      >
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
      <a href="mailto:contact.manuelernestog@gmail.com" class="btn btn-outline ml-5"> Contact</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="CuCoders"
    img="https://cucoders.dev/assets/img/cucoders_social.webp"
    desc="Platform to enhance software development in Cuba and support developers and entrepreneurs in their professional career."
    url="https://cucoders.dev/"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Astro Modern Personal Website"
    img="https://github.com/manuelernestog/astro-modern-personal-website/raw/main/public/social_img.png"
    desc="Astro Modern Personal Website Template with Project Section, CV Section, Paginated Blog, RSS Feed, SEO Friendly, Visual themes and Responsive Desing."
    url="https://astro-modern-personal-website.netlify.app/"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="WeekTodo"
    img="https://weektodo.me/weektodo_social_img.webp"
    desc="Free and Open Source Minimalist Weekly Planner and To Do list App for simple and effective people."
    url="https://weektodo.me/"
    badge="FEATURED"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Snapclear"
    img="https://softr-prod.imgix.net/applications/45f4f664-92a2-4e85-93f4-65f6e8c09a63/assets/7ca09075-9361-49eb-8a52-97974ed2a5cd.webp"
    desc="Remove Image Background Offline for Free with AI "
    url="https://www.snapclear.app/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
